*{
    margin: 2px;
    padding: 2px;
}
.body{
    background-color: #efefef;
}
.inpuT{
    width: 60px;
    height: 40px;
    border-radius: 5px;
}
.formato{
    width: 100px;
    border-radius: 5px;
}
.select{
    width: 120px;
    border-radius: 2px;
}
